$bold: bold;
$yellow: yellow;
$white: white;

.display-flex {
  display: flex;
}

.display-flex-row {
  @extend .display-flex;
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.border-none-cursor-pointer {
  @extend .border-none;
  @extend .cursor-pointer;
}

.navbar {
  position: flex;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: space-between;
  gap: 10rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: $bold;
  color: $yellow;
}

.nav-left {
  @extend .display-flex-row;
  justify-content: flex-start;
  gap: 1rem;
}

.nav-right {
  @extend .display-flex-row;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-right input {
  padding: 0.5rem;
  border-radius: 100px;
  @extend .border-none;
}

.nav-btn {
  background-color: #333;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  @extend .border-none-cursor-pointer;
}

.red {
  background-color: #e50914;
}

/* Filtros */
.filters {
  @extend .display-flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter {
  background: #222;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  @extend .border-none-cursor-pointer;
}

.filter.active {
  background: #2ecc71;
}
